
body {
        z-index: -1;
        width: 100%;
        height: 100vh;
        background-size: 300% 300%;
        background-image: linear-gradient(
              -45deg, 
              rgba(59,173,227,1) 0%, 
              rgba(87,111,230,1) 25%, 
              rgba(152,68,183,1) 51%, 
              rgba(255,53,127,1) 100%
        );  
        animation: AnimateBG 20s ease infinite;
      }
      
      @keyframes AnimateBG { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
      }


.IssueLabel {
height: 20px;
padding: 0.15em 6px;
font-size: 14px;
font-weight: 600;
line-height: 15px;
border-radius: 2px;
box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12);
}

.GoodFirstIssue {
background-color: #7057ff;
color: #ffffff;
}

.StarterTask {
background-color: #62dbc9;
color: #000000;
}

.HelpWanted {
background-color: #008672;
color: #ffffff;
}

.search-body {
background-color: #ffffff;
box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
border: 1px solid rgba(154, 161, 171, .15);
}


.spinner {
display: none;
position: absolute;
left: 50%;
z-index: 1;
width: 120px;
height: 120px;
margin: -75px 0 0 -75px;
border: 16px solid #f3f3f3;
border-radius: 50%;
border-top: 16px solid #7057ff;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
}


@keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

.btn-primary {
color: #fff;
background-color: #0073e6;
border-color: #0073e6;
}

.btn {
display: inline-block;
font-weight: 400;
line-height: 1.25;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
padding: .5rem 1rem;
font-size: 1rem;
border-radius: .25rem;
}

.welcome {
margin-bottom: 2rem;
margin-top: 1.5rem;
font-family: 'Lato', sans-serif;
}


.hidden {
display: none;
}


.welcome h1 {
font-weight: 700;
}

.lead {
margin-bottom: 0.775rem !important;
}

.form-header {
margin-left: 450px;
margin-top: 0.75rem;
margin-bottom: 2rem;
justify-content: center;
}

.TopLabel {
margin-top: 8px;
margin-left: 8px;
}

.custom-select {
display: inline-block;
max-width: 100%;
height: calc(2.25rem + 2px);
padding: .375rem 1.75rem .375rem .75rem;
line-height: 1.25;
color: #464a4c;
vertical-align: middle;
/*background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…'0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right .75rem center;
-webkit-background-size: 8px 10px;
background-size: 8px 10px;
border: 1px solid rgba(0,0,0,.15);
border-radius: .25rem;
-moz-appearance: none;
-webkit-appearance: none;*/
}

.QuestionsSuggestions  {
margin-top: 1rem;
margin-bottom: 1rem;
font-size: 0.8rem;
}

.text-muted {
color: #636c72;
margin-bottom: 0px;
font-weight: 300;
font-size: 90%;
margin-right: 6px;
}

.paddedLeftMargin {
margin-left: 25px;
}

#submit {
margin-left: 25px;
width: 300px;
}

.sortsTable:hover {
color: #7057ff;
cursor: url(hand.cur), pointer;
}
#yatn{
    border-color: #0073e6;
    background-size: 300% 300%;
        background-image: linear-gradient(
              -45deg, 
              rgba(59,173,227,1) 0%, 
              rgba(87,111,230,1) 25%, 
              rgba(152,68,183,1) 51%, 
              rgba(255,53,127,1) 100%
        );  
        animation: AnimateBG 20s ease infinite;
}